<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Email</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="form">
    <form action="/process" method="post">
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                {% endif %}
        {% endwith %}
        <label for="email" class="top">Email:</label>
        <input type="text" name="email" class="top">
        <button >Add Email</button>
    </form>
    </div>
</body>
</html>